mixin dishes(link,img,text,price)
    .dishes__plate
        a(href=link).dishes__link
            picture.dishes__picture
                img.dishes__img(alt=text,srcset=img,loading="lazy")
        .dishes__name
            span.dishes__text !{text}
            span.dishes__price #{price}